<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>util.Login</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>Register</servlet-name>
    <servlet-class>util.Register</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>TeaRegister</servlet-name>
    <servlet-class>util.TeaRegister</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>FirstAdminServlet</servlet-name>
    <servlet-class>util.FirstAdminServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>SecondAdminServlet</servlet-name>
    <servlet-class>util.SecondAdminServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>FiveAdminServlet</servlet-name>
    <servlet-class>util.FiveAdminServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>SixAdminServlet</servlet-name>
    <servlet-class>util.SixAdminServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ThirdAdminServlet</servlet-name>
    <servlet-class>util.ThirdAdminServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ModifyStudentInfo</servlet-name>
    <servlet-class>util.ModifyStudentInfo</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ModifyTeacherInfo</servlet-name>
    <servlet-class>util.ModifyTeacherInfo</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>FourAdminServlet</servlet-name>
    <servlet-class>util.FourAdminServlet</servlet-class>
  </servlet>











  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/servlet/Login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Register</servlet-name>
    <url-pattern>/servlet/Register</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TeaRegister</servlet-name>
    <url-pattern>/servlet/TeaRegister</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FirstAdminServlet</servlet-name>
    <url-pattern>/servlet/FirstAdminServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SecondAdminServlet</servlet-name>
    <url-pattern>/servlet/SecondAdminServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FiveAdminServlet</servlet-name>
    <url-pattern>/servlet/FiveAdminServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SixAdminServlet</servlet-name>
    <url-pattern>/servlet/SixAdminServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ThirdAdminServlet</servlet-name>
    <url-pattern>/servlet/ThirdAdminServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ModifyStudentInfo</servlet-name>
    <url-pattern>/servlet/ModifyStudentInfo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ModifyTeacherInfo</servlet-name>
    <url-pattern>/servlet/ModifyTeacherInfo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FourAdminServlet</servlet-name>
    <url-pattern>/servlet/FourAdminServlet</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>
